.example-picklist-container {
  padding: 0 25px;
  max-width: 500px;
  margin: 50px auto;
}

.example-picklist-input {
  margin: 15px 0;
}

.cust-cell-cal.disabled {
  cursor: not-allowed !important;
}

.cust-label-cal {
  pointer-events: auto !important;
}
